.chabot-chat-container{
    width: 100%;
    height: 100vh;
}

.chabot-chat-content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.chabot-chat{
    width: 100%;
    height: 450px;
    padding: 10px;
    background-color: beige;
    border-radius: 15px;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
}
.chabot-chat-container-body{
    height: 90%;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 15px;
}
.chabot-chat-container-input{
    height: 10%;
}
