.dog-item-container{
    display: flex;
}

.dog-item-container img{
    height: 50px;
    border-radius: 10px;
}
.dog-item-messages{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.dog-item-container label{
    margin: 0 0 5px 10px;
    font-size: 14px;
    color: beige;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    max-width: fit-content;
    font-weight: bold;
    box-sizing: border-box;
}