body {
  margin: 0;
  font-family: 'Quicksands';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #BBD2C5;  */
  /* background: #292E49; */
  background: #536976;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Quicksands';
  src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf');
}
